@font-face{
    src: url(Roboto/Roboto-Medium.ttf);
    font-family: roboto
}
*{
    
    font-family:roboto;
    box-sizing: border-box;
    
}
#header{
    top:0;
    font-size: 2.5vh;
}
.top-left, .bottom-left{
    float: left;
}
#profilePicture{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#gridIcon{
    width: 20px;
    height:20px;
}
.top-right, .bottom-right{
    float: right;
}
.middle{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.middle button{
    color: #191919;
    background-color: #F0F3F4;
    padding: 2%;
    margin: 1%;
}
.middle button:hover{
    border: solid gray;
    border-radius: 0px;
}
#logo{
    word-spacing: normal;
    font-size: 400%;
    
    
    letter-spacing: 0;
    padding: 5%;
}
#searchBar{
    width: 60%;
    margin: 2%;
}
.blue{
    color: #4284F3;
}
.red{
    color: #EA4335;
}
.yellow{
    color: #FABC05;
}
.green{
    color: #33A852;
}
button{
    border: none;
    background: none;
}
button:hover{
    text-decoration: underline;
}

#footer, #footer p{
    font-size: 2.5vh;
    background-color: gray;
    left: 0;
    bottom:0;
    position: absolute;
    width: 100%;
    height:2.5vh;
    display: inline-block;
    
}