@font-face{
    src: url(Roboto/Roboto-Medium.ttf);
    font-family: roboto
}
*{
    font-family:roboto;
    box-sizing: border-box;
    
}

/*header*/
#header{
    top:0; 
}
#header, .middle, #footer{
    font-size: 30px;
    font-weight: lighter; 
}
button{
    letter-spacing: 1px;
    font-weight: 100;
    border: none;
    background: none;
}
button:hover{
    text-decoration: underline;
}
.top-left, .bottom-left{
    float: left;
}
.top-right, .bottom-right{
    float: right;
}
#gridIcon{
    width: 20px;
    height:20px;
}
#profilePicture{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/*Center with search bar*/
.middle{
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
}
.middle button{
    color: #5F6367;
    background-color: #F0F3F4;
    padding: 1%;
    margin: 1%;
}
.middle button:hover{
    border: solid gray;
    border-radius: 0px;
}
#logo{
    word-spacing: normal;
    font-size: 300%;
    letter-spacing: 0;
    padding: 5%;
}
#searchBar{
    height: 35px;
    width: 60%;
    margin: 2%;
    border-radius: 1em;
    
}
.blue{
    color: #4284F3;
}
.red{
    color: #EA4335;
}
.yellow{
    color: #FABC05;
}
.green{
    color: #33A852;
}

/*Footer*/

#footer, #footer p{
    display: inline-block;
    position: fixed;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    left: 0;
    height: 50px; 
    width: 100%;
    font-size: 2.5vh;
    background-color: lightgray;
    
}

.wrap{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: calc(100vh - 50px);
}
