<h1>Randomize Rhyme with Original Ending</h1>
<div>
    <form method = "POST" action = "/jack3">
        <fieldset>
            <label for = "num">Type in how many times you want to randomize the rhyme:</label>
            <input type = "number" name = "num" id = "num">
        </fieldset>
        <input type = "submit">
    </form>
</div>


<br>
<br>
<a href = "/">Back to Index</a>