<h1>Jack Nursery Rhyme</h1>
<p>Pres <a href = "/jack1">here to see the original nursery rhyme</a></p>
<p>Press <a href = "/jack2">here to see the randomized nursery rhyme</a></p>
<p>Press <a href = "/jack3">here for checkpoint project part 3</a></p>



