<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class = "ps-5"><a class="navbar-brand" href=<%=root_path%>>Home</a></div>
  <a class="navbar-brand" href=<%=card_path%>>Pets</a>
</nav>